.base-model-table .ant-table {
  color: rgba(24, 24, 25, 1);
  font-family: PingFangSC-Regular, "PingFang SC", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.base-model-table .ant-table-thead > tr {
  height: 40px !important;
}

.base-model-table .ant-table-thead > tr > th {
  height: 40px;
  padding: 10px 16px !important;
  background-color: rgba(244, 246, 248, 1.0) !important;
  color: rgba(24, 24, 25, 1) !important;
  font-family: PingFangSC-Regular, "PingFang SC", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 20px !important;
}

.base-model-table .ant-table-tbody > tr:not(.ant-table-measure-row) > td {
  height: 50px;
  padding: 15px 16px !important;
  border-bottom: 1px solid rgba(232, 233, 234, 1.0);
  color: rgba(24, 24, 25, 1);
  font-family: PingFangSC-Regular, "PingFang SC", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.base-model-table .ant-table-tbody > tr.ant-table-measure-row,
.base-model-table .ant-table-tbody > tr.ant-table-measure-row > td {
  height: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  line-height: 0 !important;
  visibility: hidden;
}

.base-model-table .ant-table-tbody > tr:hover > td {
  background-color: rgba(244, 246, 248, 1.0) !important;
}

.base-model-table .ant-pagination {
  margin: 22px 0 0;
  color: rgba(24, 24, 25, 1);
  font-family: PingFangSC-Regular, "PingFang SC", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.base-model-table .ant-pagination-total-text {
  margin-inline-end: 24px;
}

.base-model-table .ant-pagination .ant-pagination-item,
.base-model-table .ant-pagination .ant-pagination-prev,
.base-model-table .ant-pagination .ant-pagination-next {
  min-width: 32px;
  height: 32px;
  line-height: 30px;
}

.base-model-table .ant-pagination .ant-pagination-item-active {
  background-color: #ECEEEF;
  border-color: #ECEEEF;
}

.base-model-table .ant-pagination .ant-pagination-item-active a {
  color: inherit;
  font-weight: 400 !important;
}

.base-model-table .ant-pagination .ant-pagination-options {
  margin-inline-start: 24px;
}

.base-model-table .ant-pagination .ant-select-selector,
.base-model-table .ant-pagination .ant-pagination-options-quick-jumper input {
  height: 32px;
  border-color: rgba(216, 217, 220, 1);
  border-radius: 6px;
}

.base-model-actions .ant-btn {
  height: 20px !important;
  padding: 0;
  color: rgba(24, 24, 25, 1);
  font-family: PingFangSC-Regular, "PingFang SC", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.base-model-actions .ant-btn:hover {
  color: rgba(0, 71, 187, 1) !important;
}

.base-model-actions .ant-btn .anticon {
  font-size: 16px;
}

.base-model-actions .table-action-column {
  column-gap: 24px !important;
  row-gap: 8px !important;
}

.base-model-type-tag.ant-tag {
  height: 26px;
  margin: 0;
  padding: 2px 8px;
  border-radius: 4px;
  font-family: PingFangSC-Regular, "PingFang SC", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}

.base-model-type-tag-cyan.ant-tag {
  color: rgba(0, 84, 221, 1);
  background-color: rgba(232, 240, 255, 1);
  border: 1px solid rgba(0, 84, 221, 0.1);
}

.base-model-type-tag-yellow.ant-tag {
  color: rgba(236, 145, 26, 1);
  background-color: rgba(254, 245, 234, 1);
  border: 1px solid rgba(246, 161, 50, 0.1);
}
