registry=https://registry.npmmirror.com/
@deep:registry=http://npm.fe-daas.deepexi.com/

shamefully-hoist=true
strict-peer-dependencies=false
shared-workspace-lockfile=false
shell-emulator=true
recursive-install=false # 禁止pnpm install时安装所有workspace